{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Dashboard' %}

{% block page_content %}
    <div class="d-flex justify-content-center">
        <img src="https://media1.tenor.com/images/7e62e4a76c0def84660a2e4dda66f3ea/tenor.gif" alt="Salut"/>
    </div>
{% endblock %}
