@mixin Button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.6);
}

#AdminNavBar {
    z-index: 1;
    position: fixed;
    top: 15px;
    right: 15px;
    display: flex;
    flex-direction: row-reverse;

    .MainButton {
        @include Button;
        cursor: pointer;
        background-image: url("/build/images/favicon/favicon-96x96.png");
        background-size: contain;
    }

    .ChildButton {
        @include Button;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        background-color: #333333;
        color: $secondary;

        @media screen and #{$largeDeviceMinWidth} {
            &:hover {
                color: $primary;
                transition: all 0.4s ease-in;
            }
        }
    }
}
