body {
    font-family: $baloo2;
    background-color: $tertiary;
    color: $secondary;
}

main {
    margin-bottom: 70px;
    height: calc(100vh - 70px);
    overflow-y: scroll;

    @media screen and #{$mediumDeviceMinWidth} {
        margin-bottom: 128px;
        height: calc(100vh - 128px);
    }

    @media screen and #{$largeDeviceMinWidth} {
        margin-bottom: unset;
        margin-left: 100px;
        height: 100vh;
    }
}

h1 {
    font-size: 24px;

    @media screen and #{$mediumDeviceMinWidth} {
        font-size: 2em;
    }
}

h2 {
    font-size: 20px;
    font-variant-caps: small-caps;
    text-align: center;

    @media screen and #{$mediumDeviceMinWidth} {
        font-size: 1.6em;
    }
}

.jumbotron {
    padding: 5px 10px;
    margin: 20px 0;
    border-left: 1px solid $primary;

    @media screen and #{$mediumDeviceMinWidth} {
        padding: 10px 25px;
    }
}
