// FONTS
@import url('https://fonts.googleapis.com/css2?family=Mali&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

$mali: 'Mali', cursive;
$dosis: 'Dosis', sans-serif;

// COLORS

$grey: #333333;
$white: rgba(255, 255, 255, 0.8);
$wild: #f16d6d;
