// COLORS
$primary: #47F4CF;
$secondary: #98A4C5;
$tertiary: #333333;

// FONTS
$baloo2: 'Baloo2', sans-serif;

// BREAKPOINTS
$mediumDeviceMinWidth: 768px; /* Tablets */
$largeDeviceMinWidth: 992px; /* Desktops */
$extraLargeDeviceMinWidth: 1200px; /* Large desktops */

// VARIABLES EXPORTED TO JAVASCRIPT
:export {
    primary: $primary;
    secondary: $secondary;
    mediumDeviceMinWidth: $mediumDeviceMinWidth;
    largeDeviceMinWidth: $largeDeviceMinWidth;
    extraLargeDeviceMinWidth: $extraLargeDeviceMinWidth;
}
