// COLORS

// FONTS

$baloo2: 'Baloo2', sans-serif;

// BREAKPOINTS

$smallDeviceMinWidth: 320px; /* Mobiles */
$mediumDeviceMinWidth: 768px; /* Tablets */
$largeDeviceMinWidth: 992px; /* Desktops */
$extraLargeDeviceMinWidth: 1200px; /* Large desktops */
