<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Admin{% endblock %}</title>
    <meta name="author" content="Erpeldinger Guillaume">
    <meta name="description" content="Portfolio de Guillaume Erpeldinger">
    <meta name="keywords" content="Portfolio, Guillaume, Erpeldinger">
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body>
<header></header>

<main>
    <div class="col-12 p-0">
        {% for category, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ category }} text-center">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    {% block body %}{% endblock %}
</main>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>

</html>
