.ImageCarousel {
    cursor: zoom-in;

    .video {
        color: $tertiary;
        position: absolute;
        top: 20px;
        left: 20px;
    }

    img {
        border-radius: 10px;
        width: 90%;
        height: 90%;
        margin: 20px auto;
    }

    &:hover {
        .video {
            color: #c4302b;
        }
    }
}

.ModalCarousel {
    padding-top: 5px;
    background-color: black;

    .exitButton {
        z-index: 1;
        position: fixed;
        top: 15px;
        right: 15px;
        color: $secondary;
        cursor: pointer;
    }
}
