.Homepage {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    div:first-of-type {
        p {
            font-size: 18px;
            margin: 10px 0;

            &:nth-child(2) {
                color: $primary;
            }

            &:last-child {
                text-align: right;
            }

            @media screen and #{$mediumDeviceMinWidth} {
                font-size: 48px;

                &:first-child, &:last-child {
                    font-size: 30px;
                }
            }
        }
    }
}
