<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Portfolio{% endblock %}</title>
    <meta name="author" content="Erpeldinger Guillaume">
    <meta name="description" content="Portfolio de Guillaume Erpeldinger">
    <meta name="keywords" content="Portfolio, Guillaume, Erpeldinger">
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body class="d-flex">
<header id="header-portfolio">
    {{ render(controller(
        'App\\Controller\\PortfolioController::navbar', {'page': (page ?? 'admin')}
    )) }}
</header>

<main id="main-portfolio">
    {% block body %}{% endblock %}
</main>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>

</html>
